.item__detail__container{
  .item__detail{
    display: flex;
    picture{
      width: 65%;
      padding: 4em 0;
      display: flex;
      justify-content: center;
      background-color: rgb(236, 239, 240);
      img{
        width: 65%;
      }
    }
    .item__detail__info{
      padding-left: 1.1em;
      padding-top: 1em;
      //width: 26%;
      display: flex;
      flex-direction: column;
      gap: .75em;
      .detail__info__category{
        font-weight: 400;
        font-size: .9em;
        letter-spacing: .1em;
      }
      .detail__info__title{
        text-transform: uppercase;
        font-weight: 500;
        font-style: italic;
        font-size: 2em;
        max-width: 20ch;
      }
      .detail__info__price{
        font-weight: 600;
        font-size: 1.25em;
      }
      .detail__info__colours{
        font-weight: 400;
        font-size: 1.05em;
        padding: .5em 0;
      }
      .item__count{
        display: flex;
        padding: .25em .5em;
        margin: .25em 0 .5em 1em;
        align-items: center;
        gap: 1.75em;
        width: 100%;
        .item__count__button{
          padding: .25em .5em;
          color: #f8f9fa;
          border: none;
          background-color: #0f1112;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1em;
          width: fit-content;
          padding: .55em 1em;
          box-shadow: #fff 3px 3px 0 0,#000 3px 3px 0 1px;
          transition: .075s all linear;
          span{
            font-size: 1.25em;
            color: #f8f9fa;
          }
        }
        .item__count__button:active{
          transform: translate(4px, 4px);
          box-shadow: #fff 0px 0px 0 0,#000 .5px .5px 0 1px;
        }
        .item__count__display{
          font-size: 2em;
        }
        .item__count__button--disabled{
          color: #0f1112;
          background-color: #f8f9fa;
          padding: .25em .5em;
          border: none;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1em;
          width: fit-content;
          padding: .55em 1em;
          border: 1px solid black;
          box-shadow: #000 3px 3px 0 0,#000 3px 3px 0 1px;
        }
      }
      .detail__info__button{
        color: #f8f9fa;
        border: none;
        background-color: #0f1112;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1em;
        width: fit-content;
        padding: .75em 1.5em;
        box-shadow: #fff 3px 3px 0 0,#000 3px 3px 0 1px;
        transition: .075s all linear;
        display: flex;
        align-items: center;
        gap: .25em;
        &:active{
          transform: translate(4px, 4px);
          box-shadow: #fff 0px 0px 0 0,#000 .5px .5px 0 1px;
        }
      }
    }
  }
}